@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    background-color: #000;
    background: fixed;
    font-family: sans-serif;
    font-display: Bold;
}